@import url("https://fonts.googleapis.com/css?family=Geo");

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 30px;
    font-family: 'Geo', sans-serif;
    color: blue;
}

body {
    background: #222;
    font-family: Sans-serif;
}

#game {
    border: 2px solid #e0e0e0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

canvas {
    display: block;
    border: 2px solid #e0e0e0;
    width: available;
    height: 400px;
}

.control-panel {
    display: flex;
    justify-content: space-between;
}

button {
    background: green;
    color: white;
}

.ctrl-button {
    background: transparent;
    font-size: 18px;
    font-family: 'Geo', sans-serif;
    color: #e0e0e0;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    line-height: 32px;
    border: 2px solid #e0e0e0;
    text-align: center;
    flex: 1;
}

.ctrl-button:hover {
    background: #e0e0e0;
}

.add-rover-label {
    color: #00acc1;
    font-size: 16px;
    font-family: 'Geo', sans-serif;
    margin: 5px;
}


.map-and-summary {
    display: grid;
    grid-column-gap: 20px;
    grid-template-columns: auto auto;
    padding: 10px;
}

.rovers-summary {
    color: #689f38;
    font-size: 16px;
    font-family: 'Geo', sans-serif;
}

.rover-label {
    list-style: none;
}


.info-panel {
    font-size: 18px;
    font-family: 'Geo', sans-serif;
    background: black;
    color: yellow;
    line-height: 24px;
    padding: 0 8px;
    cursor: default;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.info-panel span {
    display: block;
}

.info_status_bar {
    color: blue;
    width: 100px;
}

.info_error {
    color: red;
}

.separator {
    margin: 0 8px;
}

#game {
    float: left;
}